@font-face {
	font-family: "baron-neue";
	src: url("../fonts/baron-neue.otf");
}

#logo {
	font-family: baron-neue;
  font-size: 300%;
}

.icon-small {
	max-width: 40px;
	margin: auto 3%;
}

#banner h2 {
	font-family: "baron-neue";
}
